<template>  
  <div class="page">
    <header class="d-header">
        <div class="d-l"><a href="javascript:void(0)" onclick="javascript:history.go(-1)"><i class="mvfont mv-left"></i></a></div>
        <div class="d-m">
            回家不迷路
        </div>
    </header>
    <section class="s-h-b">
        <div class="sb-d">
            afafa@gmail.com 复制邮箱
            https://www.baidu.com 复制官网
            <p>复制邮箱地址，发送任意内容即可获取最新下载地址,请截图或复制保存永久邮箱与地址</p>


             重要提醒！请关注本页面内容，避免走丢！  收藏关注不迷路！！ 
            https://www.baidu.com
            https://www.baidu.com

            发任意邮件到以下邮箱，获取最新地址
            afafa@gmail.com

        </div>
    </section>
</div>
</template>

<script setup lang="ts">

</script>


