@font-face {
  font-family: "mvfont"; /* Project id 4698642 */
  src: url('iconfont.woff2?t=1730396311529') format('woff2'),
       url('iconfont.woff?t=1730396311529') format('woff'),
       url('iconfont.ttf?t=1730396311529') format('truetype');
}

.mvfont {
  font-family: "mvfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mv-kuaitui10s:before {
  content: "\e650";
}

.mv-kuaijin15s:before {
  content: "\e6e7";
}

.mv-kuaitui15s:before {
  content: "\e6e8";
}

.mv-kuaijin10s:before {
  content: "\e64e";
}

.mv-zuixin:before {
  content: "\e65b";
}

.mv-mv1:before {
  content: "\e8ed";
}

.mv-hot3:before {
  content: "\e64d";
}

.mv-quanbu:before {
  content: "\e707";
}

.mv-jia2:before {
  content: "\e7cb";
}

.mv-paihb:before {
  content: "\e853";
}

.mv-remenbang:before {
  content: "\e64a";
}

.mv-redian4:before {
  content: "\e66d";
}

.mv-redian:before {
  content: "\e6c3";
}

.mv-resou:before {
  content: "\e644";
}

.mv-zhutirebangbeifen:before {
  content: "\e647";
}

.mv-rebang:before {
  content: "\e6a3";
}

.mv-resoubang:before {
  content: "\e75b";
}

.mv-icon_resou:before {
  content: "\e648";
}

.mv-pinglun:before {
  content: "\e604";
}

.mv-like:before {
  content: "\e868";
}

.mv-shequ-full:before {
  content: "\e67b";
}

.mv-shequ:before {
  content: "\e63d";
}

.mv-remendianpu:before {
  content: "\e610";
}

.mv-remenshangpintuijian:before {
  content: "\e645";
}

.mv-rementuijian1:before {
  content: "\e68e";
}

.mv-remen1:before {
  content: "\e646";
}

.mv-remen11:before {
  content: "\e64c";
}

.mv-paihang:before {
  content: "\e60e";
}

.mv-paihang1:before {
  content: "\e63a";
}

.mv-bofang2:before {
  content: "\e657";
}

.mv-dianji:before {
  content: "\e87c";
}

.mv-dianying:before {
  content: "\e778";
}

.mv-dianying-full:before {
  content: "\e9fd";
}

.mv-duanju:before {
  content: "\e609";
}

.mv-erweima:before {
  content: "\e643";
}

.mv-email_full:before {
  content: "\e684";
}

.mv-telegram:before {
  content: "\f246";
}

.mv-email:before {
  content: "\e719";
}

.mv-guanwang:before {
  content: "\ea11";
}

.mv-ie:before {
  content: "\e601";
}

.mv-xiazai1:before {
  content: "\e63c";
}

.mv-xiazai2:before {
  content: "\e606";
}

.mv-ios:before {
  content: "\e624";
}

.mv-android:before {
  content: "\e639";
}

.mv-bofang1:before {
  content: "\f470";
}

.mv-riqi:before {
  content: "\e637";
}

.mv-lishishijian:before {
  content: "\e62f";
}

.mv-history:before {
  content: "\e602";
}

.mv-user_big_outlined:before {
  content: "\e9b8";
}

.mv-touxiang1:before {
  content: "\e636";
}

.mv-useryonghu:before {
  content: "\e858";
}

.mv-shizhong_fill:before {
  content: "\e74e";
}

.mv-chenggong:before {
  content: "\e79a";
}

.mv-shibai:before {
  content: "\e626";
}

.mv-xuanzhong:before {
  content: "\e620";
}

.mv-radio:before {
  content: "\e660";
}

.mv-kefu1:before {
  content: "\e623";
}

.mv-shouye1:before {
  content: "\e8a6";
}

.mv-shouye:before {
  content: "\e638";
}

.mv-shouye-full:before {
  content: "\e61e";
}

.mv-fenxiang3:before {
  content: "\e63f";
}

.mv-fenxiang:before {
  content: "\e7c5";
}

.mv-fenxiang1:before {
  content: "\e625";
}

.mv-fenxiang4:before {
  content: "\e771";
}

.mv-vip1:before {
  content: "\e61c";
}

.mv-changjianwenti1:before {
  content: "\e640";
}

.mv-yizhangtong:before {
  content: "\e6c7";
}

.mv-appxz:before {
  content: "\e67c";
}

.mv-fds:before {
  content: "\e732";
}

.mv-cjwt:before {
  content: "\eaa6";
}

.mv-dsp:before {
  content: "\e65a";
}

.mv-duanshipin:before {
  content: "\e619";
}

.mv-duanshipin-xuanzhong:before {
  content: "\e86c";
}

.mv-dsp-full:before {
  content: "\e65d";
}

.mv-tixing1-full:before {
  content: "\e8c0";
}

.mv-fenxiang2:before {
  content: "\e679";
}

.mv-service:before {
  content: "\e68c";
}

.mv-scan:before {
  content: "\e69a";
}

.mv-sort:before {
  content: "\e6b5";
}

.mv-zuji:before {
  content: "\e70a";
}

.mv-home0-full:before {
  content: "\e617";
}

.mv-home0:before {
  content: "\e618";
}

.mv-wodeshequ2:before {
  content: "\e61a";
}

.mv-wodeshequ:before {
  content: "\e61f";
}

.mv-tag-full:before {
  content: "\e630";
}

.mv-tag:before {
  content: "\e633";
}

.mv-yzm:before {
  content: "\e60b";
}

.mv-shoujihao:before {
  content: "\e616";
}

.mv-appxiazai:before {
  content: "\e642";
}

.mv-jinglirun:before {
  content: "\e6a5";
}

.mv-zzjl:before {
  content: "\e611";
}

.mv-agent:before {
  content: "\e63e";
}

.mv-xiangqing1:before {
  content: "\e635";
}

.mv-youhui:before {
  content: "\e75a";
}

.mv-tixing1:before {
  content: "\e60a";
}

.mv-tiaozhuan1:before {
  content: "\e62b";
}

.mv-sfz:before {
  content: "\e621";
}

.mv-saoyisaoerweima:before {
  content: "\e63b";
}

.mv-jiangli:before {
  content: "\e60c";
}

.mv-changjianwenti:before {
  content: "\e632";
}

.mv-info:before {
  content: "\e62e";
}

.mv-fxlj:before {
  content: "\e60f";
}

.mv-xiaoxi:before {
  content: "\e622";
}

.mv-guanyuwomen:before {
  content: "\e654";
}

.mv-labax:before {
  content: "\e608";
}

.mv-share:before {
  content: "\e628";
}

.mv-fuzhi:before {
  content: "\e613";
}

.mv-tuichu1:before {
  content: "\e7ed";
}

.mv-setting:before {
  content: "\e61b";
}

.mv-bianji:before {
  content: "\e818";
}

.mv-vip3:before {
  content: "\e627";
}

.mv-rewards:before {
  content: "\e615";
}

.mv-zuijin:before {
  content: "\e61d";
}

.mv-password:before {
  content: "\10100";
}

.mv-bets:before {
  content: "\e607";
}

.mv-guangbo:before {
  content: "\e656";
}

.mv-zhuanfa1:before {
  content: "\e6f4";
}

.mv-nzan:before {
  content: "\e870";
}

.mv-time:before {
  content: "\e74f";
}

.mv-kefu_fill:before {
  content: "\e6f0";
}

.mv-kefu:before {
  content: "\e6f1";
}

.mv-shoucang:before {
  content: "\e629";
}

.mv-zhuanfa:before {
  content: "\e78e";
}

.mv-xihuan:before {
  content: "\e7de";
}

.mv-banyuan:before {
  content: "\e641";
}

.mv-kan:before {
  content: "\e669";
}

.mv-zan:before {
  content: "\e62a";
}

.mv-bofang:before {
  content: "\e62d";
}

.mv-live_fill:before {
  content: "\e708";
}

.mv-live:before {
  content: "\e709";
}

.mv-close:before {
  content: "\e605";
}

.mv-hyh:before {
  content: "\e631";
}

.mv-mangguo:before {
  content: "\e60d";
}

.mv-xietiao:before {
  content: "\e819";
}

.mv-xt:before {
  content: "\e676";
}

.mv-search:before {
  content: "\e634";
}

.mv-search1:before {
  content: "\e7ec";
}

.mv-game:before {
  content: "\e612";
}

.mv-game_full:before {
  content: "\e614";
}

.mv-like_fill:before {
  content: "\e86d";
}

.mv-user:before {
  content: "\e8c8";
}

.mv-user_full:before {
  content: "\e8c9";
}

.mv-home:before {
  content: "\e70e";
}

.mv-home_full:before {
  content: "\e712";
}

.mv-top:before {
  content: "\e649";
}

.mv-xia:before {
  content: "\eb05";
}

.mv-left:before {
  content: "\10101";
}

.mv-app:before {
  content: "\e652";
}

.mv-hot1:before {
  content: "\e600";
}

.mv-remenhot:before {
  content: "\e7c7";
}

.mv-hot2:before {
  content: "\e62c";
}

.mv-hot_full:before {
  content: "\e666";
}

.mv-hot:before {
  content: "\e682";
}

.mv-right:before {
  content: "\10102";
}

